<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Team 1:</h3>
            <% @team1.each do |team1| %>
                <div class="well">
                    <%= team1.name %>
                </div>
            <% end %>
        </div>
        <div class="col-md-6">
            <h3>Team 2:</h3>
            <% @team2.each do |team2| %>
                <div class="well">
                    <%= team2.name %>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <%= link_to "New Player", new_game_player_path(game_id: params[:game_id]), class: "btn btn-primary" %>
        <%= link_to "Back to game", game_path(id: params[:game_id]), class: "btn btn-primary" %>
    </div>
</div>