<div class="container">
    <div class="row">
        <div class="col-md-6">
            <% @players.each do |player| %>
                <% if player.on_team1 %>
                    <div class="well">
                        <%= player.name %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-6">
            <% @players.each do |player| %>
                <% if !player.on_team1 %>
                    <div class="well">
                        <%= player.name %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>