<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Setup game</h2>
                <h5>Game goes to: <%= @game.starting_score %></h5>
            </div>
        </div>
    </div>
</div>