<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% @games.each do |game| %>
                <div class="well">
                    <h4><%= game.starting_score %> at: </h4>
                </div>
            <% end %>
        </div>
    </div>
</div>