<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">New Game</h2>
                <%= form_for @game do |f| %>
                    <%= f.label :score %>
                    <%= f.number_field :starting_score %>
                    <%= f.submit %>
                <% end %>
            </div>
        </div>
    </div>
</div>