<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2 class="text-center">Game of <%= @game.starting_score %></h2>
            </div>
        </div>
    </div>
</div>